<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NusantaraLaundry.Properties.Settings.NusantaraLaundryConnectionString"
            connectionString="Data Source=LAPTOP-G624CHDU\SQLEXPRESS;Initial Catalog=NusantaraLaundry;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>